version: '3.7'

services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    image: mipergamino-server
    container_name: mipergamino-node-server
    command: /usr/src/app/node_modules/.bin/nodemon server.js
    volumes:
      - ./server/:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "8080:8080"
    links:
      - client      
    depends_on:
      - client
    env_file: ./server/.env
    environment:
      - NODE_ENV=development
    networks:
      - app-network
  mongo:
    image: mongo
    restart: always
    volumes:
      - data-volume:/data/db
    ports:
      - "27017:27017"
    networks:
      - app-network
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    image: mipergamino-client
    container_name: mipergamino-react-client
    command: npm run dev
    volumes:
      - ./client/:/usr/app
      - /usr/app/node_modules
      - /usr/src/app/.next
    depends_on:
      - mongo
    links:
      - mongo
    ports:
      - "3000:3000"
    stdin_open: true
    networks:
      - app-network

networks:
    app-network:
        driver: bridge

volumes:
    data-volume:
    node_modules:
    web-root:
      driver: local