@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-300;
}

.item-menu-inicio {
  @apply mx-auto w-full text-center px-10 py-8 border-solid border-2 border-gray-400 mb-3 cursor-pointer;
}

.rent-image {
  @apply h-48 flex-none bg-cover rounded-t text-center overflow-hidden cursor-pointer;
}

.feature {
  @apply py-4 flex justify-between items-center;
}

.svg {
  @apply w-12 flex justify-center;
}

.filterOption {
  @apply rounded-lg mr-2 pr-2;
}
.selectedFilterOption {
  @apply text-white bg-blue-500 rounded-lg m-1 py-1 px-4;
}

#more-button {
  border-style: none;
  background: none;
  font: 16px Serif;
  color: blue;
  margin: 0 0 10px 0;
}

#more-button:hover {
  color: black;
}

#grow input:checked {
  color: red;
}

#grow {
  min-height: 51px;
  cursor: pointer;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  height: 0;
  overflow: hidden;
}

.modalgoncy {
  @apply cursor-pointer z-50 flex items-center justify-center fixed left-0 top-0 w-screen h-screen;
}

button:focus {
  outline: none;
}

.gallery {
  --gallery_width: 800px;
  --gallery_height: 400px;
}

.alquilerDescription {
  -webkit-box-orient: "vertical";
  overflow: "hidden";
  display: "-webkit-box";
  -webkit-line-clamp: "1";
}
